<?xml version="1.0"?>
<ruleset
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd"
	name="SyntatisCommand"
	>
	<description>Curated PHP Coding Standards for PHP</description>

	<arg name="basepath" value="."/>
	<arg name="extensions" value="php"/>
	<arg name="tab-width" value="4"/>

	<!-- Ignore warnings, show progress of the run and show sniff names -->
	<arg value="nps"/>

	<!-- The directories to apply the rules -->
	<file>./app/</file>
	<file>./tests/</file>
	<file>./bin/codex</file>

	<!-- Show the warning but exit with 0. The Warning is fine -->
	<config name="ignore_warnings_on_exit" value="1"/>

	<!-- Check for cross-version support for PHP 7.4 or higher. Requires PHPCompatibilityWP -->
	<config name="testVersion" value="7.4-"/>

	<!-- Rulesets -->
	<rule ref="Syntatis"/>
	<rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
		<properties>
			<property name="rootNamespaces" type="array">
				<element key="app" value="Syntatis\Codex\Companion"/>
				<element key="tests" value="Syntatis\Tests"/>
				<element key="tests/app" value="Syntatis\Tests"/>
			</property>
		</properties>
	</rule>
	<rule ref="SlevomatCodingStandard.TypeHints.PropertyTypeHint">
		<properties>
			<property name="enableMixedTypeHint" value="false" />
			<property name="enableUnionTypeHint" value="false" />
			<property name="enableIntersectionTypeHint" value="false" />
			<property name="enableStandaloneNullTrueFalseTypeHints" value="false" />
		</properties>
	</rule>
	<rule ref="SlevomatCodingStandard.TypeHints.ParameterTypeHint">
		<properties>
			<property name="enableMixedTypeHint" value="false" />
			<property name="enableUnionTypeHint" value="false" />
			<property name="enableIntersectionTypeHint" value="false" />
		</properties>
	</rule>
	<rule ref="SlevomatCodingStandard.TypeHints.ClassConstantTypeHint">
		<properties>
			<property name="enableNativeTypeHint" value="false" />
		</properties>
	</rule>
	<rule ref="SlevomatCodingStandard.TypeHints.ReturnTypeHint">
		<properties>
			<property name="enableIntersectionTypeHint" value="false" />
			<property name="enableMixedTypeHint" value="false" />
			<property name="enableNeverTypeHint" value="false" />
			<property name="enableUnionTypeHint" value="false" />
			<property name="enableStaticTypeHint" value="false" />
		</properties>
	</rule>
	<rule ref="SlevomatCodingStandard.TypeHints.DNFTypeHintFormat">
		<properties>
			<property name="shortNullable" value="true" />
		</properties>
	</rule>
	<rule ref="PHPCompatibility"/>
</ruleset>
