parameters:
  level: 9
  paths:
    - app
    - bin
  ignoreErrors:
    - message: '#Class Isolated\\Symfony\\Component\\Finder\\Finder not found\.#'
      path: app/Clients/PHPScoperInc.php
    - message: '#Call to static method create\(\) on an unknown class Isolated\\Symfony\\Component\\Finder\\Finder\.#'
      path: app/Clients/PHPScoperInc.php
